* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F6F7;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
}


aside {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
  width: 25%;
}

section {
  background-color: #F3F6F7;
  column-count: 3;
  column-width: 13em;
  margin: 0 auto;
  height:100%;
  width: 75%;
}

h1{ 
  color: #FFFFFF;
}

span {
  color: #FFC30C;
}

div {
  display: flex;
}

img {
  height: 35px;
  padding: 4px;
}

form {
  border-bottom: 2px solid #1F1F3D;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  color: #FFFFFF;
  display: block;
}

input {
  border-color: #1f1f3d;
  border-radius: 3px 3px 3px 3px;
  font-size: 1.0em;
  outline: none;
  height: 45px;
  padding-left: 10px;
}

button {
  background-color: #1F1F3D;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: 600;
  height: 45px;
  outline: none;
}

button:disabled {
  background-color: #F3F6F7;
  color: grey;
}

.body__header {
  background-color: #1F1F3D;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 10px;
}
.header__div {
  border-color: #1f1f3d;
  border-radius: 3px;
}

.header__div--img {
  background-color: #F2F6F7;
  border-radius: 3px 0  0 3px;
  height: 45px;
}

.header__input--search {
  border: none;
  border-radius: 0 3px 3px 0;
  margin: 0;
}

#title {
}

#task {
  border-right: none;
  border-radius: 0 3px 3px 0;
  width: 100%;
}

.form__btn--task {
  background-color: #1f1f3d;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
  color: white;
  font-size: 3.0em;
  height: 45px;
  line-height: 0.1; 
  margin-left: 0;
  width: 51px;
}

output {
  margin: auto 10px;
}

li {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
}

.form__btn--clear {
  margin: 10px 0;
}

.filter {
  background-color: #EF4A23;
  border: 2px solid #782616;
}

.section__card {
  background-color: #FAFDFF;
  border: 3px solid #C7D3D8;
  break-inside: avoid;
  margin: .8em .4em .8em .4em;
  padding: 1px;
  width: 80%;
}

.card__h2 {
  border-bottom: 2px solid #C7D3D8;
  color: #1F1F3D;
  font-size: 1.2em;
  padding: 5px;
}

.card__ul {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-top: 5%;
  padding: 0px;
}

.taskItem {
  color: #1F1F3D;
}

.card__footer {
  border-top: 2px solid #C7D3D8;
  display: flex;
  font-size: .65em;
  justify-content: space-between;
  padding: 3px;
}

.card__footer div {
  flex-direction: column;
}

.checked {
  color: #3C6577;
  font-style: italic;
}

.urgent {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
}

.urgent h2 {
  border-bottom: 2px solid #FFC30C;
}

.urgent footer {
  border-top: 2px solid #FFC30C;
}

.urgent .div__urgent--p {
  color: #B23A25;
}