* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  height: 100vh;
}


aside {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  width: 30%;
}

section {
  background-color: #F3F6F7;
  display: grid;
  height:100%;
  width: 70%;
}

h1{ 
  color: #FFFFFF;
}

span {
  color: #FFC30C;
}

div {
  display: flex;
}

img {
  height: 35px;
  padding: 4px;
}

form {
  border-bottom: 2px solid #1F1F3D;
  margin-bottom: 10px;
  padding: 10px;
}

label {
  color: #FFFFFF;
  display: block;
}

input {
  height: 25px;
  outline: none;
}

button {
  background-color: #1F1F3D;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.body__header {
  background-color: #1F1F3D;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 10px;
}
.header__div--img {
  background-color: #F2F6F7;
}

#title {
  width: 100%;
}

.form__div {
  margin-top: 0;
  width: 100%;
}

.form__div--img {
  background-color: #1F1F3D;
}

#task {
  width: 80%;
}

output {
  margin: auto 10px;
}

li {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
}

.form__btn--clear {
  margin: 10px 0;
}

.section__card {
  background-color: peachpuff;
  border: 3px solid #C7D3D8;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.card__h2 {
  border-bottom: 2px solid #C7D3D8;
  font-size: 1.2em;
  padding: 5px;
}

.card__ul {
  height: 100%;
  padding: 0;
}

.ul__li {
  display: flex;
  color: black;
}

.card__footer {
  border: 2px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
}

.urgent {
  background-color: orange;
}