* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  height: 100vh;
}


aside {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  width: 20%;
}

section {
  background-color: #F3F6F7;
  /* display: flex; */
  /* justify-content: space-around; */
  column-count: 2;
  column-gap: 10%;
  margin: 0 auto;
  max-width: 100%;
  height:100%;
  width: 80%;
}

h1{ 
  color: #FFFFFF;
}

span {
  color: #FFC30C;
}

div {
  display: flex;
}

img {
  height: 35px;
  padding: 4px;
}

form {
  border-bottom: 2px solid #1F1F3D;
  margin-bottom: 10px;
  padding: 10px;
}

label {
  color: #FFFFFF;
  display: block;
}

input {
  height: 25px;
  outline: none;
}

button {
  background-color: #1F1F3D;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.body__header {
  background-color: #1F1F3D;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 10px;
}
.header__div--img {
  background-color: #F2F6F7;
}

#title {
  width: 100%;
}

.form__div {
  margin-top: 0;
  width: 100%;
}

.form__div--img {
  background-color: #1F1F3D;
}

#task {
  width: 80%;
}

output {
  margin: auto 10px;
}

li {
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
}

.form__btn--clear {
  margin: 10px 0;
}

.filter {
  background-color: #EF4A23;
  border: 2px solid #782616;
}

.section__card {
  background-color: #FAFDFF;
  border: 3px solid #C7D3D8;
  display: inline-block;
  height: 40vh;
  margin: .8em .4em .8em .4em;
  padding: 1px;
  width: 100%;
}

.card__h2 {
  border-bottom: 2px solid #C7D3D8;
  color: #1F1F3D;
  font-size: 1.2em;
  padding: 5px;
}

.card__ul {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-top: 5%;
  padding: 0;
}

.taskItem {
  display: flex;
  color: #1F1F3D;
}

.card__footer {
  border-top: 2px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
}

.checked {
  color: #3C6577;
  font-style: italic;
}

.urgent {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
  color: #B23A25;
}

.urgent h2 {
  border-bottom: 2px solid #FFC30C;
}

.urgent footer {
  border-top: 2px solid #FFC30C;
}